* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(42, 158, 81);
}
.container {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.item-title {
    color: #e9e3e3;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.35rem;
} */
.item-input {
    -webkit-appearance: none;
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 7px;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid darkgreen;
    border-radius: 0.3rem;
}
.item-btn {
    background-color: #93af85;
    border-radius: 0.25rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.enter {  
    position: absolute;
    background: rgb(115, 128, 159);
    width: 50%;
    height: 100%;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.enter-registration,.enter-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.active {
    opacity: 0;
}
.change {
    opacity: 0;
    transition: all 1s;
  }
