* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(42, 158, 81);
}
.container {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 800px;
    height: 400px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
}
.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.item-title {
    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    margin-bottom: 0.35rem;
}
.item-input {
    display: block;
    margin-bottom: 0.35rem;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.item-btn {
    background-color: #93af85; /* Green */
    border: none;
    border-radius: 0.25rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}